/* Doug Bradley */
/* DGMDE-20 */
/* Assignement 1 - Due 9/23/2016 */

/* part 1, #1 - set all elements to sans-serif, dark gray */
* {
  font-family: sans-serif;
  color: DarkGray;
}

/* part 1, #1 continued - set all headings to a shade of blue and mono font */
h1,h2,h3,h4,h5,h6 {
  font-family: "Courier New",  monospace;
  color: MediumBlue
}

/* part 1, #2 - line 42 first letter bold, 3em, float */
h2:nth-of-type(2) + p::first-letter {
  font-size: 3em;
  font-weight: bold;
  float:
}

/* part 1, #3 - all offsite links are noted with text comment */
a[href^="http"]::after {
  content: " (external link)"
}

/* part 1, #4 - now suppress "external link" text in navbar */
nav a[href^="http"]::after {
  content: ""
}

/* part 1, #5 - provide space around table cell contents, pink box around table */
th,td {
  padding: 5px;
}
table {
  border-style: double;
  border-width: thick;
  border-color: pink;
}

/* part 1, #6 - non-month headings green, italic, left-aligned */
th:first-child {
  color: green;
  text-align: left;
  font-style: italic;
}

/* part 1, #7 - stripe table rows with alternating colors*/
tr:nth-child(even) {
  background-color: lightGray
}
tr:nth-child(odd) {
  background-color: lightBlue
}

/* part 1, #8 - purple background and white text for specified part of line 92*/
p:nth-of-type(6) em {
    color: white;
    background-color: purple;
}

/* part 1, #9 - "another student": line 32 brown, bold, not italic */
blockquote:first-of-type + blockquote cite {
  color: brown;
  font-weight: bold;
  font-style: normal;
}

/* part 1, #10 - orange line separating footer, centered */
footer p {
  border-top-style: solid;
  border-top-color: orange;
  border-top-width: medium;
}
